:root {
    --primary-text-color: #212121;    
    --title-text-color: #2196F3;
    --secondary-text-color:#757575;
    --hover-text-color:#FFFFFF;
    --hover-background-color:#2196F3;
    --primary-body-color: #FFFFFF;
    --accent-body-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: var(--primary-body-color);
    color: var(--primary-text-color);    
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
color: var(--title-text-color);
}

/* header */
.logo {
font-family: 'Raleway', sans-serif;
color: var(--title-text-color);
font-size: 26px;
line-height: 1.17;
font-weight: 700;
text-decoration: none;
}

span.logo-font-color {
color: var(--primary-text-color);
}

.site-nav {
  font-size: 14px;
  line-height: 1.17;  
  font-style: normal;
}

.button {    
    border-radius: 4px;
    background-color:#F5F4FA;
    cursor:pointer;
    font-size: 16px;  
    line-height: 1.63;    
}

/* main */
.button:hover, .button:focus {
background-color: #2196F3;
color: #FFFFFF;
}

.portfolio-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
}

.portfolio-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;         
        letter-spacing: 0.03em;   
        color: var(--secondary-text-color);
}

/* footer */
.footer-site-nav {
    font-size: 14px;
    line-height: 1.71;    
    font-style: normal;
}