:root {
    --primary-text-color: #212121;
    --main-title-text-color: #FFFFFF;
    --title-text-color: #2196f3;
    --secondary-text-color: #757575;
    --hover-text-color: #ffffff;
    --hover-background-color: #2196f3;
    --primary-body-color: #ffffff;
    --accent-body-color: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
    letter-spacing: 0.06em;
    background-color: var(--primary-body-color);
    color: var(--primary-text-color);
    padding-top: 25px;
    padding-left: 215px;
    padding-right: 215px;
}

.list {
    list-style-type: none;
    margin-right: 50px;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--title-text-color);
}

/* header */
header {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--title-text-color);
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    margin-right: 95px;
}

span.logo-font-color {
    color: var(--primary-text-color);
}

.site-nav {
    line-height: 1.17;
    font-style: normal;
}

.contacts-nav {
    line-height: 1.17;
    font-style: normal;
    color: var(--secondary-text-color);
}

.button {
    border-radius: 4px;
    background-color: #f5f4fa;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.63;
    border: none;    
}
.order-button {
    background-color: var(--hover-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 50px;      
    font-weight: 700;
    font-size: 16px;
    line-height: 3.13;         
    color: #FFFFFF;
}
.order-button:hover,
.order-button:focus{
    background-color:#ffffff;
    color: var(--primary-text-color);
}

.button-list {
    display: flex;
}

/* main */

.button:hover,
.button:focus {
    background-color: #2196f3;
    color: #ffffff;
}

.title {
    text-align: center;
    margin-top: 94px;    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--primary-text-color);
}

.font-our-team {    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--primary-text-color);
}

.job-our-team {    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.title-section {
    background-color: var(--accent-body-color); 
    height: 600px;  
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;    
    color: var(--main-title-text-color);
    padding-left:350px;
    padding-right:350px;
}

.hidden-caption {
    display: none;
}

.our-features {
    display: flex;
    align-items: center;
}

.list-job{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

.title-our-features {    
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--primary-text-color);

}
.text-our-features {    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.our-jobs{
    display: flex;
    align-items: center;
}

.our-team {
    display: flex;
    align-items: center;
}

.portfolio-title {    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* footer */
.footer {
    background-color: var(--accent-body-color);    
}

.footer-site-nav {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: #ffffff;    
}

span.footer-logo-font-color {
    color: #ffffff;    
}